@use "/src/styles/mixins";

.component-wrapper {
  border: none;
  padding: 0;
  display: block;
  background: none;
  height: fit-content;
  width: fit-content;
}

.component {
  @include mixins.set-theme(--color-bg0, --color-fg0);
  padding: 0.25em;
  border: 1px solid var(--color-border);
}

.component-content {
  @include mixins.set-theme(transparent);
}

.component-wrapper:hover .component-content {
  @include mixins.set-theme(--color-highlight);
}
