.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.group {
  display: grid;
  grid-template-columns: subgrid;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.action-group {
  display: flex;
  align-items: center;
  gap: 1em;
}