@mixin dark {
  --color-bg0: hsl(0 0 10);
  --color-bg1: hsl(0 0 13);
  --color-bg2: hsl(0 0 20);
  --color-border: hsl(0 0 30);
  --color-highlight: hsl(0 0 35);
  --color-fg0: hsl(0 0 100);
  --color-fg1: hsl(0 0 100);
  --color-fg2: hsl(0 0 100);
}

@mixin darker-dark {
  --color-bg0: hsl(0 0 7);
  --color-bg1: hsl(0 0 13);
  --color-bg2: hsl(0 0 20);
  --color-border: hsl(0 0 30);
  --color-highlight: hsl(0 0 35);
  --color-fg0: hsl(0 0 100);
  --color-fg1: hsl(0 0 100);
  --color-fg2: hsl(0 0 100);
}

@mixin light {
  --color-bg0: hsl(0 0 80);
  --color-bg1: hsl(0 0 90);
  --color-bg2: hsl(0 0 93);
  --color-border: hsl(0 0 70);
  --color-highlight: hsl(0 0 100);
  --color-fg0: hsl(0 0 0);
  --color-fg1: hsl(0 0 0);
  --color-fg2: hsl(0 0 0);
}

@mixin darker-light {
  --color-bg0: hsl(0 0 80);
  --color-bg1: hsl(0 0 87);
  --color-bg2: hsl(0 0 90);
  --color-border: hsl(0 0 70);
  --color-highlight: hsl(0 0 100);
  --color-fg0: hsl(0 0 0);
  --color-fg1: hsl(0 0 0);
  --color-fg2: hsl(0 0 0);
}

:root {
  @include dark;
  & .darker {
    @include darker-dark;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
    & .darker {
      @include darker-dark;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    @include light;
    & .darker {
      @include darker-light;
    }
  }
}

:root.dark {
  @include dark;
  & .darker {
    @include darker-dark;
  }
}

:root.light {
  @include light;
  & .darker {
    @include darker-light;
  }
}
