.option {
  background-color: var(--color-bg1);
  padding: 0.25em;
  cursor: pointer;
  overflow-x: hidden;
}
.option.hidden {
  display: none;
}

.display {
  --padding: 0.25em;
  padding: 0.25em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  height: calc((var(--line-height) * 1em) + (var(--padding) * 2));
}
.option.selected .display {
  background-color: var(--color-bg2);
  color: var(--color-fg2);
}
.option:hover .display {
  background-color: var(--color-highlight);
  color: var(--color-fg2);
}
