.option {
  background-color: var(--color-bg1);
  padding: 0.25em;
  cursor: pointer;
}
.option.hidden {
  display: none;
}

.display {
  padding: 0.25em;
}
.option.selected .display {
  background-color: var(--color-bg2);
  color: var(--color-fg2);
}
.option:hover .display {
  background-color: var(--color-highlight);
  color: var(--color-fg2);
}
