.menu-button {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: calc(1.5em + (var(--page-padding)));
  background-color: var(--color-bg0);
  border: none;
  padding: calc(var(--page-padding) / 2);

  &:hover {
    background-color: var(--color-highlight);
  }
}

.menu-image {
  max-width: 1.5em;
  width: 100%;
  fill: var(--color-fg0);
}

.aside-heading-wrapper {
  display: flex;
  justify-content: space-between;
}

.aside-heading {
}

.aside-wrapper {
  position: relative;
}

.aside {
  margin: 0;
  padding: 1em;
  list-style-type: none;
}
