.aside-hover-area {
  position: absolute;
  inset: 0;
  width: 2.5em;
}

.aside-wrapper {
  .home-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    & .home {
    }
    & .aside-menu-home-link {
      text-decoration: none;
      color: var(--color-fg1);
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 1ch;
      margin: 0.25em;
      padding: 0.25em;
      background-color: var(--color-bg0);
      &:hover {
        background-color: var(--color-highlight);
      }

      & .home-image {
        width: 1.5em;
        padding: 0.25em;
        aspect-ratio: 1 / 1;
        fill: var(--color-fg0);
      }
    }

    & .aside-menu-button {
      display: grid;
      position: relative;
      width: 2.5em;
      aspect-ratio: 1 / 1;
      border: none;
      padding: 0.25em;
      color: var(--color-fg0);
      background-color: var(--color-bg0);
      //border-left: 1px solid var(--color-border);
      border-bottom: 1px solid var(--color-border);
      border-right: 1px solid var(--color-border);
      &:hover {
        background-color: var(--color-highlight);
      }
      & .aside-menu-button-image {
        fill: var(--color-fg0);
        transition: transform 150ms ease-in-out;
        transform: scaleX(-1);
        :has(.aside-wrapper.open) & {
          transform: scaleX(1);
        }
      }
    }
  }
}

.aside-wrapper {
  position: relative;
}

.aside {
  margin: 0;
  padding: 1em;
  list-style-type: none;
  overflow-y: hidden;
  :has(.aside-wrapper:is(.open, :hover)) & {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}
