.aside-hover-area {
  position: absolute;
  inset: 0;
  width: 2.5em;
}

.aside-wrapper {
  .home-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.25em;
    .home {
    }
    & .aside-menu-button {
      display: grid;
      width: 2.5em;
      height: 2.5em;
      border: none;
      padding: 0.25em;
      color: var(--color-fg0);
      background-color: var(--color-bg0);
      border-left: 1px solid var(--color-border);
      border-bottom: 1px solid var(--color-border);
      &:hover {
        background-color: var(--color-highlight);
      }
      & .aside-menu-button-image {
        fill: var(--color-fg0);
        transition: transform 150ms ease-in-out;
        transform: scaleX(-1);
        :has(.aside-wrapper.open) & {
          transform: scaleX(1);
        }
      }
    }
  }
}

.aside-wrapper {
  position: relative;
}

.aside {
  margin: 0;
  padding: 1em;
  list-style-type: none;
}
