@use "/src/styles/mixins";

.accordion {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.button {
  border: none;
  width: 100%;
  grid-column: 1 / -1;
}

.summary-wrapper {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

.summary {
}

.chevron {
  aspect-ratio: 1 / 1;
  height: calc(1em * var(--line-height));
  transition: rotate 150ms ease-in-out;
}

.accordion.open .chevron {
  rotate: 90deg;
}

.collapse {
  grid-column: 1 / -1;
}

.content-wrapper {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

.content-line {
  grid-column: 1;
  width: 0.125em;
  height: 100%;
  @include mixins.set-background(--color-fg0);
}

.content {
  grid-column: 2 / -1;
}
