$page-header-required-height-variable: --page-header-required-height;

:root {
  scrollbar-color: var(--color-bg2) var(--color-bg0);
}

body {
  background-color: var(--color-bg0);
}

:export {
  pageHeaderRequiredHeightVariable: $page-header-required-height-variable;
}

.layout {
  --page-header-required-height: 0px;
  --page-height: 100svh;
  --content-padding: 0.5rem;
  --page-header-height: max(
    3.5rem,
    var(#{$page-header-required-height-variable})
  );

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--page-header-height) 1fr;
  border-right: 1px solid var(--color-border);
}

.header-wrapper {
  background-color: var(--color-bg0);
  color: var(--color-fg0);
  position: sticky;
  top: 0;
  z-index: 7000;

  grid-column: 1 / -1;
  border-bottom: 1px solid var(--color-border);
}

.header {
  padding: var(--content-padding);
  height: 100%;
}

.header-content {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  height: 100%;
}

:is(.header-left, .header-right) {
  display: grid;
  grid-auto-flow: column;
  gap: var(--content-padding);
}

.burger-button {
  align-self: center;
  aspect-ratio: 1 / 1;
  width: 2.5rem;
}

.logo-button {
  align-self: center;
  aspect-ratio: 1 / 1;
  width: 2.5rem;
  color: currentColor;
}

.aside-wrapper {
  background-color: var(--color-bg0);
  color: var(--color-fg0);
  position: sticky;
  top: var(--page-header-height);
  height: calc(var(--page-height) - var(--page-header-height));
  z-index: 4000;
}

.sidebar-collapse {
  height: 100%;
}

.aside {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-bg0);
}

.aside-header {
  grid-row: 1;

  border-bottom: 1px solid var(--color-border);
  padding: var(--content-padding);
}

.aside-content {
  grid-row: 2;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  scrollbar-color: var(--color-bg2) var(--color-bg0);
  padding: var(--content-padding);
}

.aside-footer {
  grid-row: 3;

  border-top: 1px solid var(--color-border);
  padding: var(--content-padding);
}

.workspace-content {
  display: grid;
  grid-template-rows: 1fr auto;
}

.main-wrapper {
  background-color: var(--color-bg1);
  color: var(--color-fg1);
  min-height: calc(var(--page-height) - var(--page-header-height));
  padding: var(--content-padding);
  border-bottom: 1px solid var(--color-border);
}

.footer-wrapper {
  position: relative;
  background-color: var(--color-bg0);
  color: var(--color-fg0);
  border-bottom: 1px solid var(--color-bg0);
}

.footer-content {
  padding: var(--content-padding);
}

@media screen and (max-width: 1080px) {
  .layout {
    grid-template-columns: auto;
  }
  .aside-wrapper {
    position: fixed;
  }
  .aside {
    border-bottom-color: var(--color-border);
  }
}
