.layout {
  --page-header-required-height: 0;
  --page-header-height: max(3.5rem, var(--page-header-required-height));
  --page-height: 100dvh;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--page-header-height) 1fr;
}

.header-wrapper {
  background-color: antiquewhite;
  position: sticky;
  top: 0;
  z-index: 7000;

  grid-column: 1 / -1;
}
.header {
  height: 100%;
}
.header-content {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
}

.aside-wrapper {
  background-color: beige;
  position: sticky;
  top: var(--page-header-height);
  height: calc(var(--page-height) - var(--page-header-height));
  z-index: 4000;
}

.aside {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.aside-header {
  grid-row: 1;
}
.aside-content {
  grid-row: 2;
  height: 100%;
  overflow-y: scroll;
}
.aside-footer {
  grid-row: 3;
}

.workspace-content {
  display: grid;
  grid-template-rows: 1fr auto;
}

.main-wrapper {
  background-color: blanchedalmond;
  min-height: calc(var(--page-height) - var(--page-header-height));
}

.footer-wrapper {
  background-color: bisque;
}
