.select {
  position: relative;
  z-index: 1000;
  width: 100%;
  --chevron-size: 1.25em;
}
.button {
  display: grid;

  position: relative;
  z-index: 2000;

  width: 100%;
}
.button-content {
  display: grid;
  grid-template-columns: minmax(2em, 1fr) var(--chevron-size);
  align-items: center;
  gap: 0.5em;
}
.button:hover .button-content {
  background-color: var(--color-highlight);
}

.display {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  height: calc(var(--line-height) * 1em);
}

.button-chevron {
  transition: 150ms rotate ease-in-out;
}
.select.open .button-chevron {
  rotate: 90deg;
}

.drop-down {
  position: absolute;
  left: 0;
  z-index: 9000;

  width: 100%;
  min-width: fit-content;
  max-width: 100%;
}

.drop-down-content {
  background-color: var(--color-bg1);
  color: var(--color-fg1);
  border: 1px solid var(--color-border);
  border-top: none;
}

.search {
  width: calc(100% - 0.5em);
  background-color: var(--color-bg1);
  color: var(--color-fg1);
  border: 1px solid var(--color-border);
  padding: 0.25em;
  margin: 0.25em;
}
.search::placeholder {
  color: var(--color-fg1);
}
.search:hover {
  border-color: var(--color-highlight);
}
.search.unsearchable {
  display: none;
}

.options {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
}
