.option {
  background-color: var(--bg1);
  padding: calc(var(--padding) / 2);
  cursor: pointer;
}

.view-wrapper {
  padding: calc(var(--padding) / 2);
}
.view-wrapper:hover {
  background-color: var(--bg4);
  color: var(--fg4);
}

.selected .view-wrapper {
  background-color: var(--bg3);
  color: var(--fg3);
}
