.menu {
  border: 1px solid var(--color-border);
  padding: 0.25em;
  position: relative;
}
.highlight {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: var(--color-bg0);

  .menu:hover & {
    background-color: var(--color-highlight);
  }
}
.button {
  border: none;
  padding: 0;
  background-color: transparent;
  color: var(--color-fg0);
  cursor: pointer;
}
.icon {
  width: 2em;
  padding: 0.25em;
  aspect-ratio: 1 / 1;
  fill: var(--color-fg0);
}
.description {
  padding-right: 0.25em;
}
.drop-down {
  transform: scaleX(-1);
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition:
    grid-template-columns 150ms ease-in-out,
    grid-template-rows 150ms ease-in-out;
  .menu:not(:hover) & {
    grid-template-columns: 0fr;
    grid-template-rows: 0fr;
    width: max-content;
  }
}
.drop-down-hider {
  overflow: hidden;
  transform: scaleX(-1);
}
