.button-wrapper {
  padding: 0.25em;
  display: block;
  text-decoration: none;
  cursor: pointer;
  background: var(--color-bg0) none;
  color: var(--color-fg0);
  border: 1px solid var(--color-border);
}
:where(.button-wrapper) {
  height: fit-content;
  width: fit-content;
}

.button {
  padding: 0.25em;
}
.button-wrapper:hover .button {
  background-color: var(--color-highlight);
}

.button-content {
  background-color: transparent;
}
