.option {
  background-color: var(--color-bg1);
  padding: calc(var(--padding) / 2);
  cursor: pointer;
  .hidden & {
    display: none;
  }
}
.view-wrapper {
  padding: calc(var(--padding) / 2);
  .option.selected & {
    background-color: var(--color-bg2);
    color: var(--fg3);
  }
  .option:hover & {
    background-color: var(--color-highlight);
    color: var(--fg4);
  }
}
